<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhujunji.user.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.zhujunji.user.domain.SysRoleDO">
        <id column="role_id" jdbcType="BIGINT" property="roleId" />
        <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
        <result column="role_description" jdbcType="VARCHAR" property="roleDescription" />
        <result column="update_by" jdbcType="INTEGER" property="updateBy" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="create_by" jdbcType="INTEGER" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <sql id="BaseColumn">
        `role_id`,`role_name`,`role_code`,`role_description`,`create_by`,`create_time`,`update_by`,`update_time`
    </sql>

    <insert id="insert" parameterType="com.zhujunji.user.domain.SysRoleDO">
        INSERT INTO `sys_role` (`role_id`,`role_name`,`role_code`,`role_description`, `create_by`, `update_by`) VALUES (#{roleId}, #{roleCode}, #{roleDescription}, #{createBy}, #{updateBy})
    </insert>

    <select id="findByRoleIds" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumn"/>
        FROM `sys_role`
        WHERE role_id IN
            <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
                #{roleId}
            </foreach>
    </select>

</mapper>